.messages {
  position: absolute;
  z-index: 1;
  top: 3.1rem;
  width: 100%;
  .message {
    position: relative;
    text-align: center;
    color: #333;
    background-color: #cef4f2;
    font-size: 14px;
    font-weight: 600;
    padding: 0.2em;
    .close {
      float: none;
      position: absolute;
      right: 0.5em;
      top: 0px;
      color: black;
      font-weight: normal;
      opacity: 1;
    }
  }
  &.white .message {
    background-color: rgba(255, 255, 255, 0.5);
    .close { color: white; }
  }
}
