{% load thumbnail %}
<div class='footer'>
  <div class='container section'>
    <div class='text-center'>
      {% thumbnail "assets/logo.png" "x38" format="PNG" as logo %}
        <img src='{{ logo.url }}' alt='{{ request.site.name }}' />
        {% endthumbnail %}
    </div>
    <div class='text-center social-icons'>
      <a href="#" class='social-icon'><i class="fa fa-facebook"></i></a>
      <a href="#" class='social-icon'><i class="fa fa-twitter"></i></a>
      <a href="#" class='social-icon'><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</div>
