{% load static %}
{% load thumbnail %}

<div class='navbar navbar-inverse'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle pull-left' data-toggle='collapse' data-target='#navbar-ex-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      {% if not brandless %}
      <a class='navbar-brand' href='/'>
        {% thumbnail "assets/logo.png" "x34" format="PNG" as logo %}
          <img src='{{ logo.url }}' alt='{{ request.site.name }}' />
          {% endthumbnail %}
      </a>
      {% endif %}
    </div>
    <div class='collapse navbar-collapse' id='navbar-ex-collapse'>
      {% if not hidenav %}
      <ul class='nav navbar-nav alt'>
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% block messages %}
{% if messages %}
    <div class='messages container'>
      {% for message in messages %}
        <div role='alert'
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            class='alert alert-dismissible alert-danger'
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            class='alert alert-dismissible alert-warning'
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            class='alert alert-dismissible alert-success'
          {% else %}
            class='alert alert-dismissible alert-info'
          {% endif %}
          >{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
