{% load render_bundle from webpack_loader %}
{% load thumbnail %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% with favicon="assets/favicon.png" %}
    {% thumbnail favicon "64x64" as thumb %}
      <link rel='icon' href='{{thumb.url}}' />
    {% endthumbnail %}
    {% thumbnail favicon "60x60" as thumb %}
      <link rel='apple-touch-icon' sizes="60x60" href='{{ thumb.url }}' />
    {% endthumbnail %}
    {% thumbnail favicon "72x72" as thumb %}
      <link rel='apple-touch-icon' sizes="72x72" href='{{ thumb.url }}' />
    {% endthumbnail %}
    {% thumbnail favicon "120x120" as thumb %}
      <link rel='apple-touch-icon' sizes="120x120" href='{{ thumb.url }}' />
    {% endthumbnail %}
    {% thumbnail favicon "152x152" as thumb %}
      <link rel='apple-touch-icon' sizes="152x152" href='{{ thumb.url }}' />
    {% endthumbnail %}
  {% endwith %}
  <title>
    {% block head_title %}{% endblock %}
    {% block title %}{% endblock %}
    {% block site_title %} - {{request.site.name}}{% endblock %}
  </title>
  {% block styles %}{% render_bundle 'main' 'css' %}{% endblock %}
  {% block head %}{% endblock %}
</head>
<body>
<div id='wrapper'>
  <div id='body' class='{% block bodyclass %}{% endblock %}'>
    {% block navbar %}{% include "_navbar.html" %}{% endblock %}
    {% block main %}
      {% block content %}{% endblock %}
    {% endblock %}
  </div>
  <footer>
    {% block footer %}
      {% include "_footer.html" %}
    {% endblock %}
  </footer>
</div>
{% block scripts %}
  {% render_bundle 'main' 'js' %}
{% endblock %}
</body>
</html>
