{% extends "accounts/base_settings_panel.html" %}
{% load bootstrap %}
{% load i18n %}
{% block panel %}
  <form method='post' action='' enctype='multipart/form-data'>{% csrf_token %}
    {{ form|bootstrap_horizontal }}
    <div class='form-group'>
      <button type='submit' class='btn btn-primary'>{% trans "Save" %}</button>
    </div>
  </form>
  <hr>
  <p>
  <h3>Password</h3>
  {% if user.has_usable_password %}
    <a class='btn btn-default' href='{% url "account_change_password" %}'>
      {% trans "Change Password" %}
    </a>
  {% else %}
    <a class='btn btn-default' href='{% url "account_set_password" %}'>
      {% trans "Set Password" %}
    </a>
  {% endif %}
  <div class='pull-right'>
    <a class='btn btn-danger' href='{% url "accounts_delete_account" %}'>
      {% trans "Delete Account" %}
    </a>
  </div>

{% endblock %}
