{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}{{ request.site.name }}{% endblock %}
{% block site_title %}{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}
  <div class='container'>
    <h1>Hello, world</h1>
  </div>
{% endblock %}
